- if @post.errors.any?
  - content_for :notifications do
    .notification.notification-danger.animated.fadeInLeft
      = icon('exclamation')
      .notification-message
        =t 'spina.notifications.alert'
        %small= @post.errors.full_messages.join('<br />').html_safe
      = link_to '#', data: {close_notification: true} do
        = icon('cross')

= form_for [:admin, @post], html: { autocomplete: "off" } do |f|
  %header#header
    .breadcrumbs
      = render_breadcrumbs separator: '<div class="divider"></div>'
      %span{style: 'margin-left: 10px'}
        - unless @post.new_record?
          = link_to blog_post_path(@post.materialized_path), target: :blank, class: 'button button-default button-small', style: 'margin-left: 0' do
            %i.icon.icon-export{style: 'margin: 0'}

    #header_actions
      %button.button.button-primary{type: 'submit', style: 'margin-right: 0', data: {disable_with: t('spina.pages.saving')}}
        = icon('check')
        Save Post

    %nav#secondary.tabs
      %ul
        - @tabs.each_with_index do |tab, i|
          %li{class: (i==0 ? 'active' : '')}
            = link_to tab.humanize, "##{tab}"

  #content.tab-content.active
    .page-form
      .page-form-group
        .page-form-label Title
        .page-form-control
          = f.text_field :title
      .page-form-group
        .page-form-label Tags
        .page-form-control
          = f.text_field :tag_list, placeholder: 'Separate with commas'
      .page-form-group
        .page-form-label Content
        .page-form-control
          = render '/spina/admin/shared/rich_text_field', f: f, field: :body
      .page-form-group
        - published_at = (@post.new_record? || @post.is_draft?) ? nil : @post.published_at.iso8601
        .page-form-label.published_date{ 'data-time': published_at } Published Date
        .page-form-control
          = f.text_field :publish_date, value: '', class: 'datepicker-blog'
          = f.time_field :publish_time, value: ''
          = f.hidden_field :timezone

      - unless @post.new_record? || @post.is_draft?
        .page-form-group
          .page-form-label
            URL Path
          .page-form-control
            = f.text_field :materialized_path

    - unless @post.new_record?
      .text-right{style: "margin-top: 60px"}
        = link_to t('spina.permanently_delete'), spina.admin_post_path(@post), method: :delete, data: {confirm: t('spina.pages.delete_confirmation', subject: @post.title)}, class: 'button button-default button-small button-danger', style: 'margin: 0'

  #advanced.tab-content
    .horizontal-form
      %div{style: "margin: 40px 0"}
        .horizontal-form-group
          .horizontal-form-label
            = Spina::Page.human_attribute_name :draft
            %small= Spina::Page.human_attribute_name :draft_description
          .horizontal-form-content
            = f.check_box :is_draft, data: {switch: true}

:javascript
  (function() {
    $('.datepicker-blog').datepicker({
      dateFormat: "yy-mm-dd",
    });
    $('#post_timezone').val(Intl.DateTimeFormat().resolvedOptions().timeZone);

    function formatDate(date) {
      var d = new Date(date),
              month = '' + (d.getMonth() + 1),
              day = '' + d.getDate(),
              year = d.getFullYear();

      if (month.length < 2) {
        month = '0' + month;
      }

      if (day.length < 2) {
        day = '0' + day;
      }

      return [year, month, day].join('-');
    };

    function formatTime(date) {
      var hours = '' + date.getHours();
      var minutes = '' + date.getMinutes();

      if (hours.length < 2) {
        hours = '0' + hours;
      }

      if (minutes.length < 2) {
        minutes = '0' + minutes;
      }

      return [hours, minutes].join(':');
    };

    var publishedAt = $('.published_date').data('time');
    if (publishedAt) {
      var d = new Date(publishedAt);
      $('#post_publish_date').val(formatDate(d));
      $('#post_publish_time').val(formatTime(d));
    }
  })();
