= form_for [:admin, @post], html: { autocomplete: "off" } do |f|
  #page_content
    .table-container
      %table.table.table-form
        %tr
          %td Title
          %td= f.text_field :title
        %tr
          %td
            Tags
            %span.help-text Separate tags with ','
          %td= f.text_field :tag_list
        %tr
          %td Body
          %td= render '/spina/admin/shared/rich_text_field', f: f, field: :body
        %tr
          - published_at = (@post.new_record? || @post.is_draft?) ? nil : @post.published_at.iso8601
          %td.published_date{ 'data-time': published_at } Published date
          %td
            = f.text_field :publish_date, value: '', class: 'datepicker-blog'
            = f.time_field :publish_time, value: ''
            = f.hidden_field :timezone
        %tr
          %td Draft?
          %td= f.check_box :is_draft

    %button.button.button-primary{type: 'submit', data: {icon: 'o'}}
      Save

    = link_to 'Cancel', admin_posts_path, class: 'button button-link'

    - unless @post.new_record?
      .pull-right= link_to 'Delete', admin_post_path(@post), method: :delete, confirm: 'Are you sure?', class: 'button button-link button-danger'
:javascript
  (function() {
    $('.datepicker-blog').datepicker({
      dateFormat: "yy-mm-dd",
    });
    $('#post_timezone').val(Intl.DateTimeFormat().resolvedOptions().timeZone);

    function formatDate(date) {
      var d = new Date(date),
              month = '' + (d.getMonth() + 1),
              day = '' + d.getDate(),
              year = d.getFullYear();

      if (month.length < 2) {
        month = '0' + month;
      }

      if (day.length < 2) {
        day = '0' + day;
      }

      return [year, month, day].join('-');
    };

    function formatTime(date) {
      var hours = '' + date.getHours();
      var minutes = '' + date.getMinutes();

      if (hours.length < 2) {
        hours = '0' + hours;
      }

      if (minutes.length < 2) {
        minutes = '0' + minutes;
      }

      return [hours, minutes].join(':');
    };

    var publishedAt = $('.published_date').data('time');
    if (publishedAt) {
      var d = new Date(publishedAt);
      $('#post_publish_date').val(formatDate(d));
      $('#post_publish_time').val(formatTime(d));
    }
  })();
