- content_for :application do
  %header#header
    #header_actions
      = link_to spina.new_admin_post_path, class: 'button button-primary', style: 'margin-right: 0' do
        .button-content
          = icon('plus')
          New Post

    .breadcrumbs= render_breadcrumbs separator: '<div class="divider"></div>'

  %p
    %h4 Published
  .well
    .dd#pages_list
      - if @posts.published.any?
        %ol.dd-list
          - @posts.published.each do |post|
            = render partial: 'page', locals: { post: post }
      - else
        %ol.dd-list
          %li.dd-item
            .dd-item-inner
              %em no posts found
  %p
    %h4 Drafts
  .well
    .dd#pages_list
      - if @posts.drafts.any?
        %ol.dd-list
          - @posts.drafts.each do |post|
            = render partial: 'page', locals: { post: post }
      - else
        %ol.dd-list
          %li.dd-item
            .dd-item-inner
              %em no drafts found

  :javascript
    (function() {
      $('.published_date').each(function(i, el) {
        var $el = $(el);
        var publishedAt = $(el).data('time');
        if (publishedAt) {
          var d = new Date(publishedAt);
          $el.html(d.toDateString() + ' ' + d.toLocaleTimeString());
        }
      });
    })();
